@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
	width:60%;
	margin:0 auto;
	font-size: 1.1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #F0F0F0;
	width:100%;
}

div.about {
	width:70%;
	float: left;
	/*font-family:"Cambria";*/
	font-size: 1.2rem;
}

div.picture {
	height:100%;
	margin-left: 75%;
}

div.pub_list {
	float: left;
	width:80%;
}

div.title {
	font-weight: bold;
}

div.coauthor {
}

div.conference {
}

div.highlight {
	color: green;
}

h1 {
	font-family: "Lato", sans-serif;
	text-shadow: none;
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.3em;
	color: #404040;
}

a {
	text-decoration: none;
}